<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar color="primary">Banking App</mat-toolbar>
    <mat-nav-list>
      <button mat-list-item [routerLink]="'/accounts/create'" routerLinkActive="active">
        <mat-icon>account_circle</mat-icon>
        Account
      </button>

      <button mat-list-item [routerLink]="'/accounts/account-123/deposit'" routerLinkActive="active">
        <mat-icon>arrow_downward</mat-icon>
        Deposit
      </button>
      <button mat-list-item [routerLink]="'/accounts/account-123/withdraw'" routerLinkActive="active">
        <mat-icon>arrow_upward</mat-icon>
        Withdraw
      </button>
      <button mat-list-item [routerLink]="'/accounts/account-123/transactions'" routerLinkActive="active">
        <mat-icon>list</mat-icon>
        Transactions
      </button>
      <button mat-list-item [routerLink]="'/accounts/account-123/statement'" routerLinkActive="active">
        <mat-icon>description</mat-icon>
        Statement
      </button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>